*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
img{
  max-width: 100%;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
}
.wrapper {
	max-width: 960px;
	margin: 0 auto;
}
.header__top{
	height: 45px;
	background: #37a14c;
	color: #fff;
	padding: 10px;
}
.social-icons{
	display: inline-block;
	float: right;
}
.social-icons a{
	margin-right: 6px;
}

.header__center{
	padding: 10px;
}
.logo-1, .logo-2{
  display: block;
  line-height: 115px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.logo-1, .logo-2 img{
  vertical-align: middle;
}
.logo-2{
	padding-top: 10px;
}
.contacts{
	padding-top: 10px;
	color: #37a14c;
	font-size: 15px;
  	display: block;
}

.skype img{
    vertical-align: middle;
    color: #37a14c;
}
[href^="tel:"]{
  text-decoration: none;
  white-space: nowrap;
  color: inherit;
}

.server{
	display: block;
}

.bottom{
	position: relative;
	height: 35px;
	width: auto;
	box-shadow: 0px 7px 2px -2px rgba(0,0,0,0.79);
	background: #fdd108; /* Old browsers */
	background: -moz-linear-gradient(top,  #fdd108 0%, #fec70d 52%, #feba12 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fdd108 0%,#fec70d 52%,#feba12 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fdd108 0%,#fec70d 52%,#feba12 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd108', endColorstr='#feba12',GradientType=0 ); /* IE6-9 */
	margin-bottom:10px;
	padding:10px 0 10px 40%;
	text-align: center;
}
.bottom__text{
	position: absolute;
	color: #fff;
	font-size: 12px;
}