*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
img{
	max-width: 100%;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1;
}

.wrapper {
	max-width: 1010px;
	margin: 0 auto;
	padding: 0 10px;
}
.row{
  margin: 0 -10px;
}
.header-top{
	background: #37a14c;
	color: #fff;
	padding: 10px 0;
}
.header-top__slogan{
	padding-top: 4px;
}

.social-icons{
	float: right;
	font-size: 0;
	display: inline-block;
}
.social-icons a{
	margin-left: 5px;
}

.logo-1, .logo-2{
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 10px;*/
}
.logo-1, .logo-2 img{
  vertical-align: middle;
  width: 100%;
}
.contacts{
	color: #37a14c;
	font-size: 15px;
	/*padding-bottom: 10px;*/
	margin: 10px 0;
  }

.contacts__name{
	float: left;
	width: 100px;
	font-size: 17px;
}
.contacts__values{
	float: left;
	vertical-align: middle;
	display: block;
	font-size: 20px;
}
[href^="tel:"]{
  text-decoration: none;
  white-space: nowrap;
  color: inherit;
}
.skype{
	margin: 10px 0;
}
.skype i{
	vertical-align: middle;
}
[href^="skype:"]{
	font-style: italic;
}

.server{
	margin-top: 5px;
	display: block;
}

.button {
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*height: 35px;*/
	width: auto;
	box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.79);
	background: #fdd108; /* Old browsers */
	background: -moz-linear-gradient(top,  #fdd108 0%, #fec70d 52%, #feba12 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fdd108 0%,#fec70d 52%,#feba12 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fdd108 0%,#fec70d 52%,#feba12 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd108', endColorstr='#feba12',GradientType=0 ); /* IE6-9 */
	margin:10px 0 10px 0;
	padding:10px 0 10px 0;
	text-align: center;
	color: #fff;
	font-size: 15px;
	
}
a.button {
	display: block;
	text-decoration: none;
}
a{ 
text-decoration: none;
 }

.main-menu{
	background: rgba(69,188,93,1);
	background: -moz-linear-gradient(top, rgba(69,188,93,1) 0%, rgba(61,155,80,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(69,188,93,1)), color-stop(100%, rgba(61,155,80,1)));
	background: -webkit-linear-gradient(top, rgba(69,188,93,1) 0%, rgba(61,155,80,1) 100%);
	background: -o-linear-gradient(top, rgba(69,188,93,1) 0%, rgba(61,155,80,1) 100%);
	background: -ms-linear-gradient(top, rgba(69,188,93,1) 0%, rgba(61,155,80,1) 100%);
	background: linear-gradient(to bottom, rgba(69,188,93,1) 0%, rgba(61,155,80,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45bc5d', endColorstr='#3d9b50', GradientType=0 );
}
.menu li{
	border-right:1px solid #247634;
	border-left:1px solid #247634;
	position: relative;
	display: block;
	background: rgba(69,188,93,1);
	background: -moz-linear-gradient(top, rgba(69,188,93,1) 0%, rgba(61,155,80,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(69,188,93,1)), color-stop(100%, rgba(61,155,80,1)));
	background: -webkit-linear-gradient(top, rgba(69,188,93,1) 0%, rgba(61,155,80,1) 100%);
	background: -o-linear-gradient(top, rgba(69,188,93,1) 0%, rgba(61,155,80,1) 100%);
	background: -ms-linear-gradient(top, rgba(69,188,93,1) 0%, rgba(61,155,80,1) 100%);
	background: linear-gradient(to bottom, rgba(69,188,93,1) 0%, rgba(61,155,80,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45bc5d', endColorstr='#3d9b50', GradientType=0 );
}
.menu li:before{
	content: '';
	position: absolute;
	display: block;
	border-right:1px solid #57e974;
	border-left:1px solid #57e974;
    height:  100%;

}
.menu li a{
	text-decoration: none;
	font-size: 16px;
	font-weight:bold;
	color: #fff;
	padding: 11px;
	display: flex;
	align-items: center;
}
.menu > li.active{
	background: #48d962; /* Old browsers */
background: -moz-linear-gradient(top, #48d962 1%, #40c758 50%, #2e9e44 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #48d962 1%,#40c758 50%,#2e9e44 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #48d962 1%,#40c758 50%,#2e9e44 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48d962', endColorstr='#2e9e44',GradientType=0 );

}

@media(min-width: 768px){
	.menu li{
		width: 20%;
		float: left;
	}
	.menu li a{
		display: block;
		text-align: center;
		padding-top: 13px;
	}
}
.left-menu{
	position: fixed;
    width: 100%;
    left: -100%;
    bottom: 0;
    top: 55px;
  background: #fff;
  /*overflow-y: scroll;*/
  transition: .5s all ease;
      margin: 30px 0;

}
.left-menu > li {
	border-bottom: 1px solid #e6e6e6;
	line-height: 50px;
}
.left-menu li{
	list-style: none;
}

.left-menu li a{
	font-size: 18px;
	text-decoration: none;
	color: black;
	display: block;
}
.left-menu li > ul{
	line-height: 25px;
}
.left-menu li > ul a{
	color: #ff2626;
	text-decoration: none;
	font-size: 15px;
	position: relative;
	margin-left: 40px;
	list-style: none;
}

.left-menu li > ul a:before{
	content: '-';
	position: absolute;
	background: #ff2626;
	height: 1px;
	margin: auto;
	margin-left: -11px;
}
.left-menu li ul a:nth-child(2n+1):before{
	background: #fff;
}
.left-menu.active{
	position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 80px;
  background: #fff;
  /*overflow-y: scroll;*/
  transition: .5s all ease;

}
.menu__opener{
  position: fixed;
  top: 75px;
  right: 20px;
  z-index: 1;
  width: 100%;
}
.burger-icon{
  float: right;
  background: #37a14c;
  height: 40px;
  width: 40px;
  display: inline-flex;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 8px 0 15px;
  cursor: pointer;
  transition: .5s all ease;
}
.burger-icon span{
  display: block;
  background: #fff;
  margin: 2px 0;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  position: relative;
  transition: .5s all ease;
}
.burger-icon span:before{
  content: '';
  height: 4px;
  width: 4px;
  position: absolute;
  top: 0;
  left: -8px;
  border-radius: 3px;
  background: #fff;
  transition: .5s all ease;
}
.burger-icon__opener span:nth-child(2){
  opacity: 0;
}
.burger-icon__opener{
  padding-left: 8px;
}
.burger-icon__opener span:nth-child(1){
    transform: rotate(45deg) translateX(6px) translateY(6px);
}
.burger-icon__opener span:nth-child(3){
    transform: rotate(-45deg) translateX(6px) translateY(-6px);
}
.burger-icon__opener span:before{
  left: 0;
}
.content{
	    margin: 30px 0;
}
.content h1{
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}
.c-text{
	font-size: 13px;
	padding-top: 25px;
	padding-bottom: 40px;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 55px;
}
.news{
	text-align: center;
  	margin-bottom: 20px;
  	text-decoration: none;
  	display: block;
}
.news__text{
	height: 92px;
	color: #fff;
	background: #329545; /* Old browsers */
	background: -moz-linear-gradient(top, #329545 0%, #45bc5c 48%, #45bc5c 99%, #45bc5c 99%, #39a54f 100%, #45bc5c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #329545 0%,#45bc5c 48%,#45bc5c 99%,#45bc5c 99%,#39a54f 100%,#45bc5c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #329545 0%,#45bc5c 48%,#45bc5c 99%,#45bc5c 99%,#39a54f 100%,#45bc5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#329545', endColorstr='#45bc5c',GradientType=0 );
	padding: 5px
}	

.date{
	padding-top: 11px;
	color: black;
	font-weight: bold;
}

.header-bottom{
	background: #fcc10f; /* Old browsers */
	background: -moz-linear-gradient(top, #fcc10f 1%, #fac20a 50%, #f0ae07 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fcc10f 1%,#fac20a 50%,#f0ae07 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fcc10f 1%,#fac20a 50%,#f0ae07 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc10f', endColorstr='#f0ae07',GradientType=0 );
	padding: 10px;

}
.header-bottom__slogan{
	color: #fff;
	font-size: 16px;
	padding: 10px 0;
	float: left;
}
.contacts_bottom{
	color: #333;
	display: table;
}

.parthners{
	background: #45ba5a; /* Old browsers */
background: -moz-linear-gradient(top, #45ba5a 0%, #3fa152 50%, #3d9950 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #45ba5a 0%,#3fa152 50%,#3d9950 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #45ba5a 0%,#3fa152 50%,#3d9950 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45ba5a', endColorstr='#3d9950',GradientType=0 );
}
.copyrights{
	margin: 20px 0;
}
.parthners img{
	display: block;
	padding: 11px 0;
	margin: auto;
}
.clear-fix:after, .row:after{
  content: '';
  width: 100%;
  display: block;
  clear: both;
}

[class*="col-"]{
  padding: 0 10px;

}
@media (min-width: 461px){
	.col-logo-1{
		float: left;
		width: 38%;
	}
	/*.col-contacts_clear-fix:after{
		content: '';
	  display: block;
	  clear: both;
	}*/
	.col-contacts{
		float: left;
		width: 62%;
	}
	.col-btns{
		float: left;
		width: 30%;
	}
	.col-logo-2{
		float: left;
		width: 70%;
	}
	.col-tablet-1-2{
		float: left;
		width: 50%;
	}
}
@media (min-width: 768px){
	.left-menu{
	position: static;
    width: 100%;
    bottom: 0;
  	background: #fff;
	}
    .menu__opener{ 
    display: none;
  }
  .news{
  	text-align: left;
  }
  	.pull-right{
  		float: right;
  	}

  .col-desktop-1-2{
  	float: left;
  	width: 50%;
  }
  .col-logo-1{
  	float: left;
  	width: 19%;
  	padding-right: 10px;
  }
  .col-contacts{
  	float: left;
  	width: 30%;
  	padding-right: 10px;
  }
  .col-btns{
  	float: left;
  	width: 15%;
  	padding-right: 10px;
  	margin-top: 15px;
  }
  .col-logo-2{
  	float: left;
  	width: 36%;
  }
  .col-desktop-1-3{
  	width: 33.33%;
  	float: left;
  }
  .col-desktop-1-4{
    float: left;
    width: 25%;
  }
  .col-desktop-3-4{
    float: left;
    width: 75%;
  }
  

}